<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.5/engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>PlentyConnector</name>
            <label lang="en">PlentyConnector</label>
            <label lang="de">PlentyConnector</label>
            <controller>PlentyConnector</controller>
            <action>index</action>
            <class>sprite-metronome</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
        </entry>
    </entries>
</menu>
